<% include head %>

<div class="super_container">
	<% include home %>
	<% include header%>	
	<% include nav%>	
    <% include menu%>
    

    <!-- Intro -->

	<div class="intro">
		<div class="container">
			
		</div>
	</div>

	<!-- Converter -->

	<div class="converter">
		
		<div class="container">
			
		</div>
	</div>

	<!-- Info -->

	<div class="info">
		<div class="container">
		THIS IS ABOUT PAGE	
		</div>
	</div>

	<!-- News -->

	<div class="news">
		<div class="container">
			
		</div>
	</div>

	<% include footer%>

<script src="js/jquery-3.2.1.min.js"></script>
<script src="styles/bootstrap4/popper.js"></script>
<script src="styles/bootstrap4/bootstrap.min.js"></script>
<script src="plugins/OwlCarousel2-2.2.1/owl.carousel.js"></script>
<script src="plugins/easing/easing.js"></script>
<script src="plugins/parallax-js-master/parallax.min.js"></script>
<script src="js/custom.js"></script>
</body>
</html>