
<!-- Footer -->

<footer class="footer">
    <div class="container">
        <center><h2>All right reserved &copy; ,2018-2019</h2>
	<p>Design By Gagan Patankar</p></center>
            </div>
        </div>			
    
</footer>
</div>

