
<!-- Home -->

<div class="home">
    <div class="home_slider_container">
        
        <!-- Home Slider -->

        <div class="owl-carousel owl-theme home_slider">
            
            <!-- Slider Item -->
            <div class="owl-item">
                <div class="slider_background" style="background-image:url(images/home_slider_1.jpg)"></div>
                <div class="home_slider_content text-center">
                    <h1>Where Talent Meets Opportunity</h1>
                    <div class="home_slider_text"><u>Pitch up your ideas OR Invest in the promising talent </u></div>
                    
                </div>
            </div>

            <!-- Slider Item -->
            <div class="owl-item">
                <div class="slider_background" style="background-image:url(images/financial.jpg)"></div>
                <div class="home_slider_content text-center">
                    <h1>Where Talent Meets Opportunity</h1>
                    <div class="home_slider_text">Pitch up your ideas OR Invest in the promising talent</div>
                    
                </div>
            </div>

            <!-- Slider Item -->
            <div class="owl-item">
                <div class="slider_background" style="background-image:url(images/news_post_5.jpg)"></div>
                <div class="home_slider_content text-center">
                    <h1>Where Talent Meets Opportunity</h1>
                    <div class="home_slider_text">Pitch up your ideas OR Invest in the promising talent.</div>
                    
                </div>
            </div>

            <!-- Slider Item -->
            <div class="owl-item">
                <div class="slider_background" style="background-image:url(images/news_post_6.jpg)"></div>
                <div class="home_slider_content text-center">
                    <h1>Where Talent Meets Opportunity</h1>
                    <div class="home_slider_text">Pitch up your ideas OR Invest in the promising talent.</div>
                    
                </div>
            </div>

        </div>

        <div class="home_slider_nav home_slider_prev d-flex flex-column align-items-center justify-content-center"><img src="images/arrow_l.png" alt=""></div>
        <div class="home_slider_nav home_slider_next d-flex flex-column align-items-center justify-content-center"><img src="images/arrow_r.png" alt=""></div>
        
    </div>
