<% include head %>

<div class="super_container">
	
	<% include header%>	
	<% include nav%>	
    <% include menu%>
    
   

	<!-- Converter -->

	<div class="converter">
		<br><br><br>
			<center>
					<font color="Black">
					<h1>Apply For Registration!!!</h1>
					<%=data%>
			<br><br>	
			<form method='POST' action='/invest'>
				<table>
				<tr>	
						<td>Enter your official name </td>   
						<td><input type="text" name="nm" placeholder="Individual/Firm"/></td>
				</tr>
				
				<tr>
					<td>Enter a valid email/username  </td>
					<td><input type="text" name="unm" placeholder="Enter Username"/></td>
				</tr>
				<tr>
						<td>Enter Password  </td>
						<td><input type="password" name="pass" placeholder="Enter Password"/></td>
				</tr>
				<tr>
						<td>Enter Present City   </td>
						<td><input type="text" name="city" placeholder="City"/></td>
				</tr>
				<tr>
						<td>Enter official Phone number  </td>
						<td><input type="text" name="mno" placeholder="Enter Phone No."/></td>
				</tr>			
			</table>
			<br><br>
			<input type="submit" name="submit" value="Register"/>
			</form>
			</font>
			</center>
		
		<div class="container">
			
		</div>
	</div>

	<!-- Info -->

	<div class="info">
		<div class="container">
		
		</div>
	</div>

	<!-- News -->

	<div class="news">
		<div class="container">
			<h1 id='hd'></h1>
		</div>
	</div>

	<% include footer%>

<script src="js/jquery-3.2.1.min.js"></script>
<script src="styles/bootstrap4/popper.js"></script>
<script src="styles/bootstrap4/bootstrap.min.js"></script>
<script src="plugins/OwlCarousel2-2.2.1/owl.carousel.js"></script>
<script src="plugins/easing/easing.js"></script>
<script src="plugins/parallax-js-master/parallax.min.js"></script>
<script src="js/custom.js"></script>
</body>
</html>