<!-- Menu -->

<div class="menu">
    <div class="menu_register_login">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="menu_register_login_content d-flex flex-row align-items-center justify-content-end">
                        <div class="register"><a href="/register">register</a></div>
                        <div class="login"><a href="/login">login</a></div>
                    </div>
                </div>
            </div>
        </div>
            
    </div>
    <ul class="menu_list">
        <li class="menu_item">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <a href="/">home</a>
                    </div>
                </div>
            </div>
        </li>
        <li class="menu_item">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <a href="/about">about us</a>
                    </div>
                </div>
            </div>
        </li>
        <li class="menu_item">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <a href="listings.html">services</a>
                    </div>
                </div>
            </div>
        </li>
        <li class="menu_item">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <a href="news.html">portfolio</a>
                    </div>
                </div>
            </div>
        </li>
        <li class="menu_item">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <a href="/contact">blog</a>
                    </div>
                </div>
            </div>
        </li>
        <li class="menu_item">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <a href="/contact">contact</a>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>
</header>
</div>