<!-- Main Menu -->
<div class="main_menu">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="main_menu_container d-flex flex-row align-items-center justify-content-start">
                    <div class="main_menu_content">
                        <ul class="main_menu_list">
                            <li class="active hassubs">
                                <a href="/pitchup/startup_profile">Profile
                                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                         width="9px" height="5px" viewBox="0 0 9 5" enable-background="new 0 0 9 5" xml:space="preserve">
                                        
                                    </svg>
                                </a>
                                
                            </li>
                            <li><a href="/pitchup/product">Product
                                <svg version="1.1" id="Layer_4" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                     width="9px" height="5px" viewBox="0 0 9 5" enable-background="new 0 0 9 5" xml:space="preserve">
                                    <g>
                                        <polyline class="arrow_d" fill="none" stroke="#FFFFFF" stroke-miterlimit="10" points="0.022,-0.178 4.5,4.331 9.091,-0.275 	"/>
                                    </g>
                                </svg>
                            </a></li>
                            
                            <li class="hassubs">
                                <a href="/startups">Other Startups
                                    <svg version="1.1" id="Layer_10" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                         width="9px" height="5px" viewBox="0 0 9 5" enable-background="new 0 0 9 5" xml:space="preserve">
                                        <g>
                                            <polyline class="arrow_d" fill="none" stroke="#FFFFFF" stroke-miterlimit="10" points="0.022,-0.178 4.5,4.331 9.091,-0.275 	"/>
                                        </g>
                                    </svg>
                                </a>
                            <li><a href="/feedback">Feedback
                                <svg version="1.1" id="Layer_16" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                     width="9px" height="5px" viewBox="0 0 9 5" enable-background="new 0 0 9 5" xml:space="preserve">
                                    <g>
                                        <polyline class="arrow_d" fill="none" stroke="#FFFFFF" stroke-miterlimit="10" points="0.022,-0.178 4.5,4.331 9.091,-0.275 	"/>
                                    </g>
                                </svg>
                            </a></li>
                        </ul>
                    </div>
                    <div class="main_menu_contact ml-auto">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>